<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <!-- Logo and About Section -->
            <div class="col-md-4 mb-3">
                <img class="imagecss img-fluid" [src]="logo" alt="how to register"> 
                <br><br>
                <h6>Poppo Agency Partner</h6>
                <p>
                    This website is independently operated by a Poppo Agency Partner and is not officially managed by Poppo.</p>
            </div>

          

            <!-- Contact Information -->
            <div class="col-md-4 mb-3">
                <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt-fill me-2"></i>111 Somerset Road, #06-11, Singapore, 238164</li>
                    <li><i class="bi bi-telephone-fill me-2"></i>+ (216) 51 030 037</li>
                    
                </ul>
               
            </div>
        </div>

        <!-- Copyright Section -->
        <div class="text-center pt-3 border-top mt-4">
            <p class="mb-0">&copy; 2024  All rights reserved.</p>
        </div>
    </div>
</footer>

<!-- Bootstrap Icons CDN (for icons) -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">