<br><br><br>
<div class="center-container">
    <button [routerLink]="['/pt']" routerLinkActive="router-link-active" class="button-64" role="button"><span style="color: white;" class="text">Você quer se tornar um Agente?</span></button>
    <h3>ou</h3>
    <button [routerLink]="['/anchor/portuguese']" routerLinkActive="router-link-active" class="button-78" role="button">Você quer se tornar um Anfitrião?</button>
    <img class="img" src="{{all_countries}}" alt="">
    
</div>
<div class="row align-items-center p-3">
    <div class="col-12 col-md-6 mb-3 mb-md-0">
        <ol>
            <li><a [href]="link_comission" target="_blank">Baixar</a> Poppo Live.</li>
            <br>
            <div class="d-flex gap-1">
                <!-- Botão da Play Store -->
                <a href="https://play.google.com/store/apps/details?id=com.baitu.qingshu"
                    class="btn btn-success btn-sm" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-google-play"></i> Baixar na Play Store
                </a>

                <!-- Botão da Apple Store -->
                <a href="https://apps.apple.com/us/app/poppo-live-live-stream/id1544908797?mt=8"
                    class="btn btn-dark btn-sm" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-apple"></i> Baixar na Apple Store
                </a>

                <!-- Botão da Huawei Store -->
                <a href="https://static.vshowapi.com/huawei_download/" class="btn btn-primary btn-sm"
                    target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-huawei"></i> Baixar na Huawei Store
                </a>

                <!-- Botão de download do APK -->
                <a href="https://apkcombo.com/poppo-live-live-stream/com.baitu.qingshu/"
                    class="btn btn-warning btn-sm" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-file-earmark-arrow-down"></i> Baixar o APK
                </a>
            </div>
<div class="container">
    <div class="d-flex justify-content-center flex-nowrap overflow-auto">
        <!-- Cartão de Transmissão ao Vivo -->
        <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal" data-bs-target="#imageModal"
            (click)="openModal(live_stream)">
            <img [src]="live_stream" alt="Transmissão ao Vivo" class="card-img-top">
        </div>

        <!-- Cartão de Sala de Festa -->
        <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal" data-bs-target="#imageModal"
            (click)="openModal(party_room)">
            <img [src]="party_room" alt="Sala de Festa" class="card-img-top">
        </div>

        <!-- Cartão de Vídeo Curto -->
        <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal" data-bs-target="#imageModal"
            (click)="openModal(short_video)">
            <img [src]="short_video" alt="Vídeo Curto" class="card-img-top">
        </div>

        <!-- Cartão de Animação Dupla -->
        <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal" data-bs-target="#imageModal"
            (click)="openModal(dual_animation)">
            <img [src]="dual_animation" alt="Animação Dupla" class="card-img-top">
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border: none;"> <!-- Remover a borda -->
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Pré-visualização da Imagem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body text-center">
                <img id="modalImage" src="" alt="Pré-visualização da Imagem" class="img-fluid" style="border: none;">
                <!-- Remover a borda -->
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
<h1>Contato</h1>
<div class="row align-items-center">
    <div class="col-12 col-md-6 mb-3 mb-md-0">
        <p>Estamos disponíveis 24/7 para fornecer suporte ao cliente para nossa equipe.</p>
        <div class="d-flex flex-column flex-md-row">
            <a class="btn btn-success mb-2 mb-md-0 me-md-2" href="https://wa.me/+21651030037"
                target="_blank">Entrar em contato via WhatsApp</a>
            
        </div>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center">
        <img [src]="contact" alt="contato" class="rounded shadow"
            style="border-radius: 15px; border: 2px solid #ddd;">
    </div>
</div>
</div>
<br><br>

<div class="container">
<h1>Sobre Nós</h1>
<div class="container my-4">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
            <p>
                POPPO LIVE é uma plataforma de transmissão ao vivo. Através de nossos esforços contínuos, buscamos realizar o sonho de estrela de centenas de milhões de pessoas comuns, conectando nações ao redor do mundo, estabelecendo uma verdadeira comunidade interpessoal e desenvolvendo uma plataforma divertida e envolvente. Também buscamos criar estrelas online de alta qualidade. Talentos sociais serão recomendados globalmente pelo POPPO. Um dos passos mais importantes nos relacionamentos sociais é aprender como construir relações com os outros. Basta abrir o POPPO LIVE para conhecer pessoas de outras nações.
            </p>
        </div>
    </div>
</div>
</div>
