.image-card {
    width: 100%;
    max-width: 200px;
    /* Taille fixe pour chaque carte */
    border-radius: 10px;

    margin: 0.25rem;
    /* Ajustez cette valeur selon vos besoins */


}

.image-card {
    margin: 0.25rem;
    /* Ajustez cette valeur selon vos besoins */
}

.card-img-top {

    border-radius: 10px;

}
.modal-content {
    border: none !important; /* Removes the border from the modal */
}

.modal-body img {
    border: none !important; /* Removes the border from the image */
}

.card-body {
    background-color: #f8f9fa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.container {
    direction: rtl; /* لجعل النص من اليمين إلى اليسار */
    text-align: right; /* محاذاة النص إلى اليمين */
}

.btn {
    margin-left: 0.5rem; /* لإضافة مساحة بين الأزرار */
    margin-right: 0; /* إعادة تعيين الهامش الأيمن */
}

img {
    max-width: 100%; /* لضمان استجابة الصورة */
    height: auto; /* للحفاظ على نسبة العرض إلى الارتفاع */
    border-radius: 15px; /* لجعل الصورة ذات زوايا مدورة */
    border: 2px solid #ddd; /* لإضافة حدود خفيفة حول الصورة */
}

.row {
    margin-bottom: 1.5rem; /* إضافة مسافة بين الصفوف */
}

h1 {
    margin-bottom: 1rem; /* إضافة مسافة أسفل عنوان القسم */
}
