<br><br><br>
<div class="container">
    <h2>Poppo Live Platformunda Yayıncı Nasıl Olunur?</h2>

    <div class="row align-items-center p-3">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
            <ol>
                <li><a [href]="link_comission" target="_blank">Poppo Live Uygulamasını İndirin.</a></li>
                <br>
                <div class="d-flex gap-1">
                    <!-- Play Store Button -->
                    <a href="https://play.google.com/store/apps/details?id=com.baitu.qingshu"
                        class="btn btn-success btn-sm" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-google-play"></i> Google Play'den İndir
                    </a>

                    <!-- Apple Store Button -->
                    <a href="https://apps.apple.com/us/app/poppo-live-live-stream/id1544908797?mt=8"
                        class="btn btn-dark btn-sm" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-apple"></i> Apple Store'dan İndir
                    </a>

                    <!-- Huawei Store Button -->
                    <a href="https://static.vshowapi.com/huawei_download/" class="btn btn-primary btn-sm"
                        target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-huawei"></i> Huawei Store'dan İndir
                    </a>

                    <!-- APK Download Button -->
                    <a href="https://apkcombo.com/poppo-live-live-stream/com.baitu.qingshu/"
                        class="btn btn-warning btn-sm" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-file-earmark-arrow-down"></i> APK İndir
                    </a>
                </div>
                <!-- Bootstrap Icons CDN (ikonlar için) -->
                <link rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
                <br>
                <li>Poppo Live Uygulamasına Giriş Yapın.</li>

                <li>"Profil" butonuna tıklayın.</li>

                <li><span>Ajan</span> seçeneğini seçin.</li>

                <li>Bu ID'yi girin: <span>2902803</span> ve onaylayın.</li>

                <li>Canlı yayın butonuna tıklayın ve yüz tanıma işlemini tamamlayın.</li>
                <div class="container ">
                    <div class="d-flex justify-content-center flex-nowrap overflow-auto">
                        <!-- step1 Card -->
                        <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal"
                            data-bs-target="#imageModal" (click)="openModal(step1)">
                            <img [src]="step1" alt="step1" class="card-img-top">
                        </div>

                        <!-- step2 Card -->
                        <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal"
                            data-bs-target="#imageModal" (click)="openModal(step2)">
                            <img [src]="step2" alt="step2" class="card-img-top">
                        </div>

                        <!-- step3 Card -->
                        <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal"
                            data-bs-target="#imageModal" (click)="openModal(step3)">
                            <img [src]="step3" alt="step3" class="card-img-top">
                        </div>

                        <!-- step4 Card -->
                        <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal"
                            data-bs-target="#imageModal" (click)="openModal(step4)">
                            <img [src]="step4" alt="step4" class="card-img-top">
                        </div>
                    </div>
                </div>
            </ol>
            <h6 style="text-align: center; color:red"  >🎉 Tebrikler! 🎉<br></h6>
            <h6 style="text-align: center; "> Artık Poppo'da Yayıncı Olabilirsiniz! <br>
                📹 Hemen Yayın Yapmaya Başlayın! 🌟</h6>
                
        </div>


        <div class="container">
            <div class="d-flex justify-content-center flex-nowrap overflow-auto">
                <!-- Live Stream Card -->
                <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal" data-bs-target="#imageModal"
                    (click)="openModal(live_stream)">
                    <img [src]="live_stream" alt="Livestream" class="card-img-top">
                </div>

                <!-- Party Room Card -->
                <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal" data-bs-target="#imageModal"
                    (click)="openModal(party_room)">
                    <img [src]="party_room" alt="Party Room" class="card-img-top">
                </div>

                <!-- Short Video Card -->
                <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal" data-bs-target="#imageModal"
                    (click)="openModal(short_video)">
                    <img [src]="short_video" alt="Short Video" class="card-img-top">
                </div>

                <!-- Dual Animation Card -->
                <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal" data-bs-target="#imageModal"
                    (click)="openModal(dual_animation)">
                    <img [src]="dual_animation" alt="Dual Animation" class="card-img-top">
                </div>
            </div>
        </div>

        

        <!-- Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="border: none;"> <!-- Border'ı kaldır -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageModalLabel">Görüntü Önizleme</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img id="modalImage" src="" alt="Görüntü Önizleme" class="img-fluid" style="border: none;">
                        <!-- Border'ı kaldır -->
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="container">
        <h1>İletişim</h1>
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <p>Ekibimiz 7/24 teknik destek sunmaktadır.</p>
                <div class="d-flex flex-column flex-md-row">
                    <a class="btn btn-success mb-2 mb-md-0 me-md-2" href="https://wa.me/+21651030037"
                        target="_blank">WhatsApp'tan Bize Ulaşın</a>
                   
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <img [src]="contact" alt="İletişim" class="rounded shadow"
                    style="border-radius: 15px; border: 2px solid #ddd;">
            </div>
        </div>
    </div>
    <br><br>

    <div class="container">
        <h1>Hakkımızda</h1>
        <div class="container my-4">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <p>
                        POPPO LIVE, canlı yayın platformudur. Sürekli çabalarımız sayesinde, milyonlarca sıradan insanın
                        yıldız olma hayalini gerçekleştirmelerine yardımcı olmayı, gerçek bir topluluk yaratmayı ve
                        eğlenceli bir platform geliştirmeyi umuyoruz. POPPO'yu kullanarak dünyanın her yerinden sosyal
                        yetenekleri temsil etmek istiyoruz ve çevrimiçi yıldızlar yaratmayı hedefliyoruz. Sosyal
                        etkileşimdeki en önemli adımlardan biri, başkalarıyla nasıl bağlantı kurulacağını öğrenmektir.
                        Sadece POPPO LIVE'ı açın ve diğer ülkelerden insanlarla tanışın.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
