<div class="container">
    <h1>Contact Us</h1>
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
            <p>We are 24/7 available to provide customer support to our team.</p>
            <div class="d-flex flex-column flex-md-row">
                <a class="btn btn-success mb-2 mb-md-0 me-md-2" href="https://wa.me/+21651030037"
                    target="_blank">WhatsApp Contact</a>
                <a class="btn btn-primary" [href]="linkagent" target="_blank">Become Poppo Agent </a>
                
            </div>
           
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <img [src]="contact" alt="contact" class="rounded shadow" style="border-radius: 15px; border: 2px solid #ddd;">
        </div>
    </div>
    
</div>
<br><br>