<br><br><br>
<div class="center-container">
    <button [routerLink]="['/ru']" routerLinkActive="router-link-active" class="button-64" role="button"><span style="color: white;" class="text">Хотите стать Агентом?</span></button>
    <h3>или</h3>
    <button [routerLink]="['/anchor/russian']" routerLinkActive="router-link-active" class="button-78" role="button">Хотите стать Хозяином?</button>
    <img class="img" src="{{all_countries}}" alt="">
    
</div>
<div class="row align-items-center p-3">
    <div class="col-12 col-md-6 mb-3 mb-md-0">
        <ol>
            <li><a [href]="link_comission" target="_blank">Скачать</a> Poppo Live.</li>
            <br>
            <div class="d-flex gap-1">
                <!-- Кнопка Play Store -->
                <a href="https://play.google.com/store/apps/details?id=com.baitu.qingshu"
                    class="btn btn-success btn-sm" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-google-play"></i> Скачать в Play Store
                </a>

                <!-- Кнопка Apple Store -->
                <a href="https://apps.apple.com/us/app/poppo-live-live-stream/id1544908797?mt=8"
                    class="btn btn-dark btn-sm" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-apple"></i> Скачать в Apple Store
                </a>

                <!-- Кнопка Huawei Store -->
                <a href="https://static.vshowapi.com/huawei_download/" class="btn btn-primary btn-sm"
                    target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-huawei"></i> Скачать в Huawei Store
                </a>

                <!-- Кнопка для скачивания APK -->
                <a href="https://apkcombo.com/poppo-live-live-stream/com.baitu.qingshu/"
                    class="btn btn-warning btn-sm" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-file-earmark-arrow-down"></i> Скачать APK
                </a>
            </div>
<div class="container">
    <div class="d-flex justify-content-center flex-nowrap overflow-auto">
        <!-- Карточка Трансляции в Реальном Времени -->
        <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal" data-bs-target="#imageModal"
            (click)="openModal(live_stream)">
            <img [src]="live_stream" alt="Трансляция в Реальном Времени" class="card-img-top">
        </div>

        <!-- Карточка Вечеринки -->
        <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal" data-bs-target="#imageModal"
            (click)="openModal(party_room)">
            <img [src]="party_room" alt="Вечеринка" class="card-img-top">
        </div>

        <!-- Карточка Короткого Видео -->
        <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal" data-bs-target="#imageModal"
            (click)="openModal(short_video)">
            <img [src]="short_video" alt="Короткое Видео" class="card-img-top">
        </div>

        <!-- Карточка Двойной Анимации -->
        <div class="card image-card text-center shadow mx-1" data-bs-toggle="modal" data-bs-target="#imageModal"
            (click)="openModal(dual_animation)">
            <img [src]="dual_animation" alt="Двойная Анимация" class="card-img-top">
        </div>
    </div>
</div>



<!-- Модальное окно -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border: none;"> <!-- Удалить границу -->
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Предпросмотр Изображения</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body text-center">
                <img id="modalImage" src="" alt="Предпросмотр Изображения" class="img-fluid" style="border: none;">
                <!-- Удалить границу -->
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
<h1>Контакты</h1>
<div class="row align-items-center">
    <div class="col-12 col-md-6 mb-3 mb-md-0">
        <p>Мы доступны 24/7, чтобы предоставить поддержку нашей команде.</p>
        <div class="d-flex flex-column flex-md-row">
            <a class="btn btn-success mb-2 mb-md-0 me-md-2" href="https://wa.me/+21651030037"
                target="_blank">Связаться через WhatsApp</a>
            
        </div>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center">
        <img [src]="contact" alt="контакты" class="rounded shadow"
            style="border-radius: 15px; border: 2px solid #ddd;">
    </div>
</div>
</div>
<br><br>

<div class="container">
<h1>О Нас</h1>
<div class="container my-4">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
            <p>
                POPPO LIVE — это платформа для прямых трансляций. Благодаря нашим постоянным усилиям, мы стремимся осуществить мечту о звездах для сотен миллионов обычных людей, соединяя нации по всему миру, создавая настоящие межличностные сообщества и развивая увлекательную и интересную платформу. Мы также стремимся создавать высококачественные онлайн-звезды. Социальные таланты будут рекомендованы по всему миру с помощью POPPO. Один из самых важных шагов в социальных отношениях — это умение строить отношения с другими людьми. Просто откройте POPPO LIVE, чтобы встретить людей из других стран.
            </p>
        </div>
    </div>
</div>
</div>

